body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
}

header img {
    margin-top: 5px;
    max-width: 100px;
    max-height: 100px;
}

header {
    background-color: #fff;
    color: #000;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #70d249;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

nav a {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-left: #70d249 solid 2px;
    border-right: #70d249 solid 2px;
    margin: 3px 5px;
}

.active {
    text-decoration: underline 3px;
}

nav a:hover {
    border-left: #fff solid 2px;
    border-right: #fff solid 2px;
}

#quote-container {
    background-color: #70d249;
    text-align: center;
    color: #fff;
    margin: 20px auto;
    padding: 14px 16px;
    width: 80%;
    border-radius: 12px;
}

#quote-text {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #fff;
    color: #70d249;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ffffffcc;
}

footer {
    background-color: #70d249;
    color: #fff;
    text-align: center;
    padding: 1em;
    margin-top: 204px;
    bottom: 0;
}