main {
    padding: 2rem;
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
}

header img {
    margin-top: 5px;
    max-width: 100px;
    max-height: 100px;
}

header {
    background-color: #fff;
    color: #000;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #70d249;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

nav a {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-left: #70d249 solid 2px;
    border-right: #70d249 solid 2px;
    margin: 3px 5px;
}

.active {
    text-decoration: underline 3px;
}

nav a:hover {
    border-left: #fff solid 2px;
    border-right: #fff solid 2px;
}

.game-container {
    background-color: #70d249;
    text-align: center;
    color: #fff;
    width: fit-content;
    border-radius: 12px;
    margin: 20px auto;
    padding: 14px 16px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: auto 20px;
}

.cell {
    font-size: 48px;
    display: flex;
    color: #70d249;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 3px solid #70d249;
    border-radius: 50%;
    cursor: pointer;
    transition: color 1s;
}

.cell:hover {
    transition: background-color 1s;
    background-color: #ccc;
    /* color: #ccc; */
}

#result {
    margin: 0px 100px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}

#restartBtn {
    display: none;
    padding: 10px 20px;
    border: none;
    background-color: #fff;
    color: #70d249;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#restartBtn:hover {
    background-color: #ffffffcc;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #70d249;
    color: #fff;
    text-align: center;
    padding: 1em;
    bottom: 0;
}