body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
}

header img {
    margin-top: 5px;
    max-width: 100px;
    max-height: 100px;
}

header {
    background-color: #fff;
    color: #000;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #70d249;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

nav a {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-left: #70d249 solid 2px;
    border-right: #70d249 solid 2px;
    margin: 3px 5px;
}

.active {
    text-decoration: underline 3px;
}

nav a:hover {
    border-left: #fff solid 2px;
    border-right: #fff solid 2px;
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
}

header img {
    margin-top: 5px;
    max-width: 100px;
    max-height: 100px;
}

header {
    background-color: #fff;
    color: #000;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #70d249;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

nav a {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-left: #70d249 solid 2px;
    border-right: #70d249 solid 2px;
    margin: 3px 5px;
}

.active {
    text-decoration: underline 3px;
}

nav a:hover {
    border-left: #fff solid 2px;
    border-right: #fff solid 2px;
}

.planet-box {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: #70d249;
}

.planet-image {
    max-width: 100px;
    max-height: 100px;
}

.converter-container {
    background-color: #70d249;
    text-align: center;
    color: #fff;
    width: 80%;
    margin: 0px auto;
    padding: 14px 16px;
}

@media screen and (max-width: 800px) {
    .heading {
        display: none;
    }
    input {
        width: 100px;
    }
}

#inputs {
    margin-top: 20px;
}

input {
    margin: 3px;
}

#mercury {
    color: rgb(169, 169, 169);
}

#venus {
    color: rgb(255, 165, 0);
}

#earth {
    color: rgb(0, 191, 255);
}

#mars {
    color: rgb(255, 69, 0);
}

#jupiter {
    color: rgb(255, 222, 173);
}

#saturn {
    color: rgb(210, 180, 140);
}

#uranus {
    color: rgb(173, 216, 230);
}

#neptune {
    color: rgb(30, 30, 206);
}

#pluto {
    color: rgb(128, 128, 128);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    background-color: #70d249;
    color: #fff;
    text-align: center;
    padding: 1em;
    bottom: 0;
}